services:
  postgres:
    image: postgres:14
    container_name: skymail-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - my-network  

  redis:
    image: redis:latest
    container_name: skymail-redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    networks:
      - my-network  
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  pgdata:
  redisdata:

networks:
  my-network: